<page-header [name]='title' (refresh)='refresh()'></page-header>
<ion-content>
  <div class='table-container' *ngIf='cryptocurrencies'>
    <table class='table'>
      <thead>
        <tr>
          <th col-3>Symbol</th>
          <th col-3>Name</th>
          <th col-3>Price ({{currency}})</th>
          <th col-3>Change (24h)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let cryptocurrency of cryptocurrencies' (click)='showCrypto(cryptocurrency)'>
          <td>
            <ion-badge color='secondary'>{{cryptocurrency.symbol}}</ion-badge>
          </td>
          <td>{{cryptocurrency.name}}</td>
          <td *ngIf='currency != "BTC"'>{{getPrice(cryptocurrency) | currency}}</td>
          <td *ngIf='currency == "BTC"'>{{getPrice(cryptocurrency) | number:'1.8-8'}}</td>
          <td [class.negative]='!posChange(cryptocurrency)' [class.positive]='posChange(cryptocurrency)'>
            {{getPercentChange(cryptocurrency) | number}}%
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>