page-crypto-list {
    
}

.card {
    border-radius: 10px;
    font-family: "Gotham Rounded Medium";
    background: color($colors, primary);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    .card-header, .item {
        background: color($colors, primary);
        color: white;
    }
    .header {
        color: color($colors, secondary);
    }
}

.scroll-content {
    background: #C6E1F4;
    margin-top: 56px;
}